In [1]:
import numpy as np
import pandas as pd

runtime_pred=pd.read_csv('../DataOut/runtime_with_predictions.csv')
dwelltime_pred=pd.read_csv('../DataOut/dwelltime_with_predictions.csv')
bustop_locations=pd.read_csv('../Data Sets/bus_stops_and_terminals_654.csv')

In [2]:
runtime_pred

,trip_id,deviceid,direction,segment,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,...,windspeed,dt(n-1),year,start_float,conditions_encoded,TSCluster 0,TSCluster 1,TSCluster 2,TSCluster 3,predicted_run_time
0,1040.0,262.0,1.0,1.0,90.0,0.6261,1.0,6.50,0.0,0,...,4.7,0.0,2021,6.525833,4.0,0.0,36.190837,11.179357,52.629806,89.96266
1,1040.0,262.0,1.0,2.0,187.0,1.2808,1.0,6.50,0.0,0,...,4.7,96.0,2021,6.577500,4.0,0.0,36.190837,11.179357,52.629806,203.05638
2,1040.0,262.0,1.0,3.0,482.0,2.1125,1.0,6.50,0.0,0,...,4.7,0.0,2021,6.629444,4.0,0.0,36.190837,11.179357,52.629806,424.00848
3,1040.0,262.0,1.0,4.0,220.0,1.5513,1.0,6.75,0.0,0,...,4.7,22.0,2021,6.769444,4.0,0.0,36.190837,11.179357,52.629806,182.35669
4,1040.0,262.0,1.0,5.0,131.0,0.8450,1.0,6.75,0.0,0,...,4.7,0.0,2021,6.830556,4.0,0.0,36.190837,11.179357,52.629806,105.52141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,1194.0,117.0,1.0,11.0,143.0,1.1011,3.0,15.00,0.0,0,...,14.8,46.0,2021,15.043611,3.0,0.0,50.543264,24.086181,25.370555,172.72266
2088,1194.0,117.0,1.0,12.0,197.0,1.3111,3.0,15.00,0.0,0,...,14.8,0.0,2021,15.083333,3.0,0.0,50.543264,24.086181,25.370555,188.11371
2089,1194.0,117.0,1.0,13.0,157.0,1.1483,3.0,15.00,0.0,0,...,14.8,4.0,2021,15.139167,3.0,0.0,50.543264,24.086181,25.370555,151.97894
2090,1194.0,117.0,1.0,14.0,112.0,0.8918,3.0,15.00,0.0,0,...,14.8,32.0,2021,15.191667,3.0,0.0,50.543264,24.086181,25.370555,105.92637
2091,1194.0,117.0,1.0,15.0,357.0,1.9667,3.0,15.00,0.0,0,...,14.8,46.0,2021,15.235556,3.0,0.0,50.543264,24.086181,25.370555,292.50214

In [3]:
dwelltime_pred

,trip_id,deviceid,direction,bus_stop,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,...,dwell_time_in_seconds,year,arrival_hour,arrival_min,arrival_sec,TSCluster 0,TSCluster 1,TSCluster 2,predicted_dwell_time,combined_datetime
0,1040,262,1,101,1,6.50,0,0,1,5,...,96.0,2021,6,33,3,50.250225,48.402412,1.347363,60.177677,2021-10-26 06:33:03
1,1040,262,1,102,1,6.50,0,0,1,5,...,0.0,2021,6,37,46,50.250225,48.402412,1.347363,32.997020,2021-10-26 06:37:46
2,1040,262,1,103,1,6.75,0,0,1,5,...,22.0,2021,6,45,48,50.250225,48.402412,1.347363,63.105404,2021-10-26 06:45:48
3,1040,262,1,104,1,6.75,0,0,1,5,...,0.0,2021,6,49,50,50.250225,48.402412,1.347363,16.362827,2021-10-26 06:49:50
4,1040,262,1,105,1,6.75,0,0,1,5,...,302.0,2021,6,52,1,50.250225,48.402412,1.347363,-0.822991,2021-10-26 06:52:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738,1194,117,1,110,3,15.00,0,0,1,5,...,46.0,2021,15,1,51,24.542519,75.457481,0.000000,30.784569,2021-10-28 15:01:51
1739,1194,117,1,111,3,15.00,0,0,1,5,...,0.0,2021,15,5,0,24.542519,75.457481,0.000000,12.263372,2021-10-28 15:05:00
1740,1194,117,1,112,3,15.00,0,0,1,5,...,4.0,2021,15,8,17,24.542519,75.457481,0.000000,-2.756095,2021-10-28 15:08:17
1741,1194,117,1,113,3,15.00,0,0,1,5,...,32.0,2021,15,10,58,24.542519,75.457481,0.000000,32.237785,2021-10-28 15:10:58
1742,1194,117,1,114,3,15.00,0,0,1,5,...,46.0,2021,15,13,22,24.542519,75.457481,0.000000,0.039232,2021-10-28 15:13:22

In [4]:
# GET bus stop locations where direction = Kandy-Digana
bustop_locations_kandy_digana = bustop_locations[bustop_locations['direction'] == 'Kandy-Digana']

In [5]:
bustop_locations_kandy_digana

,stop_id,route_id,direction,address,latitude,longitude
0,BT01,654,Kandy-Digana,Kandy,7.292462,80.634978
1,101,654,Kandy-Digana,Wales Park,7.291186,80.637662
2,102,654,Kandy-Digana,Mahamaya,7.287840,80.645840
3,103,654,Kandy-Digana,Lewella junction,7.294430,80.650030
4,104,654,Kandy-Digana,Talwatta,7.286701,80.660336
5,105,654,Kandy-Digana,Tennekumbura Bridge,7.281866,80.666030
6,106,654,Kandy-Digana,Kalapura Junction Busstop,7.279830,80.676210
7,107,654,Kandy-Digana,Nattarampotha Junction Bus Stop,7.279117,80.679450
8,108,654,Kandy-Digana,Kundasale New town,7.280900,80.684160
9,109,654,Kandy-Digana,Warapitiya,7.281490,80.686350
10,110,654,Kandy-Digana,Pallekele (Provincial Council),7.281322,80.696760
11,111,654,Kandy-Digana,Pachchakaatuwa,7.284730,80.705390
12,112,654,Kandy-Digana,Balagolla,7.287349,80.714005
13,113,654,Kandy-Digana,BOI,7.284110,80.722100
14,114,654,Kandy-Digana,Kengalla,7.291520,80.721330
15,BT02,654,Kandy-Digana,Digana,7.298960,80.734720

In [6]:
# concert  runtime_pred['segment'] to integer
runtime_pred['segment'] = runtime_pred['segment'].astype(int)
runtime_pred['trip_id'] = runtime_pred['trip_id'].astype(int)

In [7]:

bus_stops = ['BT01', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', 'BT02']

# Sort the dataframe by 'trip_id' and 'segment' to ensure correct order
runtime_pred.sort_values(by=['trip_id', 'segment'], inplace=True)

# Calculate 'from_bus_stop' and 'to_bus_stop' based on 'segment'
runtime_pred['from_bus_stop'] = runtime_pred['segment'].apply(lambda x: bus_stops[x - 1] if x != 1 else bus_stops[0])
runtime_pred['to_bus_stop'] = runtime_pred['segment'].apply(lambda x: bus_stops[x] if x != len(bus_stops) - 1 else bus_stops[-1])

runtime_pred

,trip_id,deviceid,direction,segment,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,...,year,start_float,conditions_encoded,TSCluster 0,TSCluster 1,TSCluster 2,TSCluster 3,predicted_run_time,from_bus_stop,to_bus_stop
1466,976,505.0,1.0,1,94.0,0.6261,0.0,6.50,0.0,0,...,2021,6.518333,4.0,0.000000,39.308373,32.130243,28.561384,89.854780,BT01,101
1467,976,505.0,1.0,2,230.0,1.2808,0.0,6.50,0.0,0,...,2021,6.564167,4.0,0.000000,39.308373,32.130243,28.561384,220.048920,101,102
1468,976,505.0,1.0,3,387.0,2.1125,0.0,6.50,0.0,0,...,2021,6.639167,4.0,0.000000,39.308373,32.130243,28.561384,386.979950,102,103
1469,976,505.0,1.0,4,184.0,1.5513,0.0,6.75,0.0,0,...,2021,6.755000,4.0,0.000000,39.308373,32.130243,28.561384,177.527740,103,104
1470,976,505.0,1.0,5,109.0,0.8450,0.0,6.75,0.0,0,...,2021,6.806111,4.0,0.000000,39.308373,32.130243,28.561384,110.517975,104,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,1362,123.0,1.0,11,105.0,1.1011,6.0,21.00,1.0,0,...,2021,21.084444,3.0,16.798961,16.050443,35.196868,31.953728,98.068960,110,111
658,1362,123.0,1.0,12,179.0,1.3111,6.0,21.00,1.0,0,...,2021,21.113611,3.0,16.798961,16.050443,35.196868,31.953728,85.597330,111,112
659,1362,123.0,1.0,13,75.0,1.1483,6.0,21.00,1.0,0,...,2021,21.163333,3.0,16.798961,16.050443,35.196868,31.953728,115.528820,112,113
660,1362,123.0,1.0,14,74.0,0.8918,6.0,21.00,1.0,0,...,2021,21.184167,3.0,16.798961,16.050443,35.196868,31.953728,82.978970,113,114
661,1362,123.0,1.0,15,208.0,1.9667,6.0,21.00,1.0,0,...,2021,21.210833,3.0,16.798961,16.050443,35.196868,31.953728,270.045800,114,BT02

In [8]:
# rename the bus_stop column in dwelltime_pred to from_bus_stop
dwelltime_pred.rename(columns={'bus_stop': 'from_bus_stop'}, inplace=True)

In [9]:
# import pandas as pd

# # Assuming you have two dataframes: dwelltime_pred and runtime_pred
# # dwelltime_pred has columns: 'trip_id', 'bus_stop_id', 'dwell_time_predicted'
# # runtime_pred has columns: 'trip_id', 'segment_id', 'running_time_predicted'

# # Get the order of bus stops
# bus_stop_order = [
#     'BT01', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110',
#     '111', '112', '113', '114', 'BT02'
# ]

# # Merge the two dataframes based on 'trip_id' and 'segment_id'
# merged_df = pd.merge(dwelltime_pred, runtime_pred, on=['trip_id', 'segment_id'])

# # Calculate the 'from_bus_stop' and 'to_bus_stop' columns
# merged_df['from_bus_stop'] = merged_df['segment'].apply(lambda x: bus_stop_order[x - 1])
# merged_df['to_bus_stop'] = merged_df['segment'].apply(lambda x: bus_stop_order[x])

# # Sort the merged dataframe by 'trip_id' and 'segment_id' to ensure correct order
# merged_df.sort_values(by=['trip_id', 'segment_id'], inplace=True)

# # Calculate the complete_predicted_time column
# merged_df['complete_predicted_time'] = merged_df.groupby('trip_id').apply(
#     lambda group: group['dwell_time_predicted'].shift(1) + group['running_time_predicted']
# ).reset_index(level=0, drop=True)

# # Drop unnecessary columns
# final_df = merged_df.drop(['segment_id'], axis=1)

# print(final_df)

In [10]:
dwelltime_pred

,trip_id,deviceid,direction,from_bus_stop,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,...,dwell_time_in_seconds,year,arrival_hour,arrival_min,arrival_sec,TSCluster 0,TSCluster 1,TSCluster 2,predicted_dwell_time,combined_datetime
0,1040,262,1,101,1,6.50,0,0,1,5,...,96.0,2021,6,33,3,50.250225,48.402412,1.347363,60.177677,2021-10-26 06:33:03
1,1040,262,1,102,1,6.50,0,0,1,5,...,0.0,2021,6,37,46,50.250225,48.402412,1.347363,32.997020,2021-10-26 06:37:46
2,1040,262,1,103,1,6.75,0,0,1,5,...,22.0,2021,6,45,48,50.250225,48.402412,1.347363,63.105404,2021-10-26 06:45:48
3,1040,262,1,104,1,6.75,0,0,1,5,...,0.0,2021,6,49,50,50.250225,48.402412,1.347363,16.362827,2021-10-26 06:49:50
4,1040,262,1,105,1,6.75,0,0,1,5,...,302.0,2021,6,52,1,50.250225,48.402412,1.347363,-0.822991,2021-10-26 06:52:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738,1194,117,1,110,3,15.00,0,0,1,5,...,46.0,2021,15,1,51,24.542519,75.457481,0.000000,30.784569,2021-10-28 15:01:51
1739,1194,117,1,111,3,15.00,0,0,1,5,...,0.0,2021,15,5,0,24.542519,75.457481,0.000000,12.263372,2021-10-28 15:05:00
1740,1194,117,1,112,3,15.00,0,0,1,5,...,4.0,2021,15,8,17,24.542519,75.457481,0.000000,-2.756095,2021-10-28 15:08:17
1741,1194,117,1,113,3,15.00,0,0,1,5,...,32.0,2021,15,10,58,24.542519,75.457481,0.000000,32.237785,2021-10-28 15:10:58
1742,1194,117,1,114,3,15.00,0,0,1,5,...,46.0,2021,15,13,22,24.542519,75.457481,0.000000,0.039232,2021-10-28 15:13:22

In [11]:
import pandas as pd

# Assuming you have two dataframes: dwelltime_pred and runtime_pred
# dwelltime_pred has columns: 'trip_id', 'bus_stop', 'predicted_dwell_time'
# runtime_pred has columns: 'trip_id', 'segment', 'predicted_run_time'

# Convert 'from_bus_stop' column to string data type
dwelltime_pred['from_bus_stop'] = dwelltime_pred['from_bus_stop'].astype(str)
runtime_pred['from_bus_stop'] = runtime_pred['from_bus_stop'].astype(str)

# Merge the two dataframes based on 'trip_id' and 'from_bus_stop' columns
final_df = pd.merge(dwelltime_pred, runtime_pred, on=['trip_id', 'from_bus_stop'], how='right')

In [12]:
final_df

,trip_id,deviceid_x,direction_x,from_bus_stop,day_of_week_x,time_of_day_x,Sunday/holiday_x,saturday_x,weekday/end_x,week_no_x,...,dt(n-1)_y,year_y,start_float,conditions_encoded,TSCluster 0_y,TSCluster 1_y,TSCluster 2_y,TSCluster 3,predicted_run_time,to_bus_stop
0,976,NaN,NaN,BT01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2021,6.518333,4.0,0.000000,39.308373,32.130243,28.561384,89.854780,101
1,976,505.0,1.0,101,0.0,6.50,0.0,0.0,1.0,5.0,...,71.0,2021,6.564167,4.0,0.000000,39.308373,32.130243,28.561384,220.048920,102
2,976,505.0,1.0,102,0.0,6.50,0.0,0.0,1.0,5.0,...,40.0,2021,6.639167,4.0,0.000000,39.308373,32.130243,28.561384,386.979950,103
3,976,505.0,1.0,103,0.0,6.50,0.0,0.0,1.0,5.0,...,30.0,2021,6.755000,4.0,0.000000,39.308373,32.130243,28.561384,177.527740,104
4,976,505.0,1.0,104,0.0,6.75,0.0,0.0,1.0,5.0,...,0.0,2021,6.806111,4.0,0.000000,39.308373,32.130243,28.561384,110.517975,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,1362,NaN,NaN,110,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,2021,21.084444,3.0,16.798961,16.050443,35.196868,31.953728,98.068960,111
2088,1362,NaN,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2021,21.113611,3.0,16.798961,16.050443,35.196868,31.953728,85.597330,112
2089,1362,NaN,NaN,112,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2021,21.163333,3.0,16.798961,16.050443,35.196868,31.953728,115.528820,113
2090,1362,NaN,NaN,113,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2021,21.184167,3.0,16.798961,16.050443,35.196868,31.953728,82.978970,114
2091,1362,NaN,NaN,114,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,2021,21.210833,3.0,16.798961,16.050443,35.196868,31.953728,270.045800,BT02

In [13]:
# fill nan in predicted_dwell_time with 0
final_df['predicted_dwell_time'].fillna(0, inplace=True)

In [14]:
final_df['total_time'] = final_df['predicted_dwell_time'] + final_df['predicted_run_time']

In [15]:
total_time_df=final_df[['trip_id','deviceid_x','deviceid_y','from_bus_stop','to_bus_stop','predicted_dwell_time','predicted_run_time','total_time']]

In [16]:
# total_time_df drop nan
total_time_df.dropna(inplace=True)

C:\Users\gw\AppData\Local\Temp\ipykernel_41528\862254781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_time_df.dropna(inplace=True)

In [17]:
bustop_locations_kandy_digana

,stop_id,route_id,direction,address,latitude,longitude
0,BT01,654,Kandy-Digana,Kandy,7.292462,80.634978
1,101,654,Kandy-Digana,Wales Park,7.291186,80.637662
2,102,654,Kandy-Digana,Mahamaya,7.287840,80.645840
3,103,654,Kandy-Digana,Lewella junction,7.294430,80.650030
4,104,654,Kandy-Digana,Talwatta,7.286701,80.660336
5,105,654,Kandy-Digana,Tennekumbura Bridge,7.281866,80.666030
6,106,654,Kandy-Digana,Kalapura Junction Busstop,7.279830,80.676210
7,107,654,Kandy-Digana,Nattarampotha Junction Bus Stop,7.279117,80.679450
8,108,654,Kandy-Digana,Kundasale New town,7.280900,80.684160
9,109,654,Kandy-Digana,Warapitiya,7.281490,80.686350
10,110,654,Kandy-Digana,Pallekele (Provincial Council),7.281322,80.696760
11,111,654,Kandy-Digana,Pachchakaatuwa,7.284730,80.705390
12,112,654,Kandy-Digana,Balagolla,7.287349,80.714005
13,113,654,Kandy-Digana,BOI,7.284110,80.722100
14,114,654,Kandy-Digana,Kengalla,7.291520,80.721330
15,BT02,654,Kandy-Digana,Digana,7.298960,80.734720

In [18]:
total_time_df = pd.merge(total_time_df, bustop_locations_kandy_digana, how='left', left_on='from_bus_stop', right_on='stop_id')

In [19]:
total_time_df

,trip_id,deviceid_x,deviceid_y,from_bus_stop,to_bus_stop,predicted_dwell_time,predicted_run_time,total_time,stop_id,route_id,direction,address,latitude,longitude
0,976,505.0,505.0,101,102,53.105390,220.048920,273.154310,101,654,Kandy-Digana,Wales Park,7.291186,80.637662
1,976,505.0,505.0,102,103,31.427801,386.979950,418.407751,102,654,Kandy-Digana,Mahamaya,7.287840,80.645840
2,976,505.0,505.0,103,104,43.640457,177.527740,221.168197,103,654,Kandy-Digana,Lewella junction,7.294430,80.650030
3,976,505.0,505.0,104,105,16.825869,110.517975,127.343844,104,654,Kandy-Digana,Talwatta,7.286701,80.660336
4,976,505.0,505.0,105,106,137.761220,219.760200,357.521420,105,654,Kandy-Digana,Tennekumbura Bridge,7.281866,80.666030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1358,505.0,505.0,111,112,37.224360,136.061830,173.286190,111,654,Kandy-Digana,Pachchakaatuwa,7.284730,80.705390
1727,1358,505.0,505.0,112,113,6.127853,123.924600,130.052453,112,654,Kandy-Digana,Balagolla,7.287349,80.714005
1728,1359,274.0,274.0,101,102,14.659641,284.558300,299.217941,101,654,Kandy-Digana,Wales Park,7.291186,80.637662
1729,1359,274.0,274.0,102,103,25.683496,418.092000,443.775496,102,654,Kandy-Digana,Mahamaya,7.287840,80.645840
1730,1359,274.0,274.0,103,104,-0.693185,195.244840,194.551655,103,654,Kandy-Digana,Lewella junction,7.294430,80.650030

In [ ]:
# save to csv
total_time_df.to_csv('../DataOut/total_time.csv', index=False)

In [20]:
# total_time is in seconds , convert in to minutes in panas date time
total_time_df['total_time'] = pd.to_datetime(total_time_df['total_time'], unit='s').dt.strftime("%H:%M:%S")

In [21]:
# get all the uniqe trip id s
dwelltime_pred['trip_id'].unique()

array([1040, 1058, 1071, 1085, 1095, 1112, 1129, 1152, 1172, 1195, 1214,
       1224, 1245, 1262,  978,  998, 1013, 1030, 1098, 1116, 1134, 1226,
       1247, 1265, 1280, 1287, 1302, 1347, 1359,  994, 1009, 1131, 1189,
       1208, 1242, 1260, 1275, 1299, 1307, 1339, 1354,  980,  999, 1014,
       1032, 1110, 1127, 1144, 1165, 1185, 1210, 1240, 1257, 1277, 1294,
       1306, 1313, 1319, 1342,  985, 1003, 1019, 1047, 1062, 1076, 1090,
       1156, 1176, 1200, 1296, 1309, 1315, 1335,  986, 1004, 1020, 1049,
       1064, 1078, 1157, 1178, 1202, 1228, 1248, 1266, 1289, 1340, 1355,
        976,  995, 1011, 1029, 1042, 1059, 1073, 1086, 1155, 1175, 1197,
       1217, 1225, 1246, 1264, 1279, 1286, 1301, 1311, 1317, 1325, 1346,
       1358, 1043, 1060, 1074, 1088, 1097, 1115, 1133, 1167, 1187, 1213,
       1241, 1259, 1278, 1329, 1350, 1150, 1171, 1194], dtype=int64)

In [22]:
runtime_pred['trip_id'].unique()

array([ 976,  978,  980,  985,  986,  994,  995,  998,  999, 1003, 1004,
       1009, 1011, 1013, 1014, 1019, 1020, 1029, 1030, 1032, 1034, 1035,
       1036, 1040, 1042, 1043, 1047, 1049, 1058, 1059, 1060, 1062, 1064,
       1071, 1073, 1074, 1076, 1078, 1085, 1086, 1088, 1090, 1095, 1097,
       1098, 1110, 1112, 1115, 1116, 1127, 1129, 1131, 1133, 1134, 1144,
       1145, 1146, 1147, 1150, 1152, 1155, 1156, 1157, 1165, 1167, 1171,
       1172, 1175, 1176, 1178, 1185, 1187, 1189, 1194, 1195, 1197, 1200,
       1202, 1208, 1210, 1213, 1214, 1217, 1218, 1219, 1224, 1225, 1226,
       1228, 1240, 1241, 1242, 1245, 1246, 1247, 1248, 1257, 1259, 1260,
       1262, 1264, 1265, 1266, 1275, 1277, 1278, 1279, 1280, 1281, 1286,
       1287, 1289, 1294, 1296, 1299, 1301, 1302, 1306, 1307, 1309, 1311,
       1313, 1315, 1317, 1319, 1320, 1321, 1325, 1329, 1335, 1339, 1340,
       1342, 1346, 1347, 1350, 1354, 1355, 1358, 1359, 1360, 1362])