In [1]:
import numpy as np 
import pandas as pd 

Mydata = pd.read_csv('../DataOut/bus_trip_all_points.csv')
AyyasData=pd.read_csv('../DataOut/processed_data/bus_running_times_feature_added_all.csv')

In [2]:
# drop raws where only trip_id is null
AyyasData.dropna(subset=['trip_id'], inplace=True)

In [3]:
# show all the columns in pandas dataframes
pd.set_option('display.max_columns', None)

In [4]:
AyyasData.head()

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
0,1.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,0.6261,4.0,6.50,0.0,0,1,1.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
1,1.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,1.2808,4.0,6.50,0.0,0,1,1.0,247.0,247.0,247.0,247.0,247.0,69.0,247.0,247.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,74.0
2,1.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,2.1125,4.0,6.75,0.0,0,1,1.0,506.0,506.0,506.0,506.0,506.0,210.0,69.0,506.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
3,1.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,1.5513,4.0,6.75,0.0,0,1,1.0,192.0,192.0,192.0,192.0,192.0,496.0,210.0,69.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,6.0
4,1.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,0.8450,4.0,6.75,0.0,0,1,1.0,114.0,114.0,114.0,114.0,114.0,195.0,496.0,210.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0

In [5]:
# AyyasDataonly keep 'trip_id', 'deviceid', 'direction', 'date', 'start_time', 'end_time' columns
AyyasData_forComp = AyyasData[['trip_id', 'deviceid',  'date', 'start_time', 'end_time']]
# Convert 'start_time' and 'end_time' columns to datetime format ( start tieme and end time only have time in hh:mm:ss format)
# AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['start_time'], format='%H:%M:%S').dt.time
# AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['end_time'], format='%H:%M:%S').dt.time

# Convert 'start_time' and 'end_time' columns to datetime
AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['start_time'])
AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['end_time'])
# convert 'date' column to datetime format
AyyasData_forComp['date'] = pd.to_datetime(AyyasData_forComp['date'], format='%Y-%m-%d').dt.date

C:\Users\gw\AppData\Local\Temp\ipykernel_98520\1607620677.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['start_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['start_time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_98520\1607620677.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['end_time'] = pd.to_datetime(AyyasData_forComp['date'] + ' ' + AyyasData_forComp['end_time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_98520\1607620677.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AyyasData_forComp['date'] = pd.to_datetime(AyyasData_forComp['date'], format='%Y-%m-%d').dt.date

In [6]:
# get a list of all columns in the dataframe
colls=list(AyyasData_forComp.columns)
print(colls)

['trip_id', 'deviceid', 'date', 'start_time', 'end_time']

In [7]:
# # group AyyasData_forComp by trip id, and pick any available value to each column , also create new two column of trip start time and trip end time, trip start time will be the earliest time of each trip on start_time column and the trip end time will be the last time value on end_time column in each trip id
# # these are the column names in the dataset ['trip_id', 'deviceid', 'date', 'start_time', 'end_time']
# AyyasData_forComp=AyyasData_forComp.groupby(['trip_id']).agg({'deviceid':'first','date':'first','start_time':'min','end_time':'max'}).reset_index()

In [8]:


# Group by 'trip_id' and aggregate
AyyasData_forComp = AyyasData_forComp.groupby(['trip_id']).agg(
    deviceid=pd.NamedAgg(column='deviceid', aggfunc='first'),
    date=pd.NamedAgg(column='date', aggfunc='first'),
    start_time=pd.NamedAgg(column='start_time', aggfunc='min'),
    end_time=pd.NamedAgg(column='end_time', aggfunc='max')
).reset_index()

# Resulting DataFrame
print(AyyasData_forComp)

       trip_id  deviceid        date          start_time            end_time
0          1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2          4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3          8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4          9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123  25366.0    1358.0  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124  25367.0    1377.0  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125  25368.0     284.0  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126  25369.0     513.0  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127  25370.0     121.0  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [9]:
AyyasData_forComp

       trip_id  deviceid        date          start_time            end_time
0          1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2          4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3          8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4          9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123  25366.0    1358.0  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124  25367.0    1377.0  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125  25368.0     284.0  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126  25369.0     513.0  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127  25370.0     121.0  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [10]:
# get a list of all columns in the dataframe
colls=list(Mydata.columns)
print(colls)

['id', 'deviceid', 'devicetime', 'latitude', 'longitude', 'speed', 'date', 'time', 'geometry', 'bus_stop', 'trip_id', 'direction']

In [11]:
Mydata.head()

,id,deviceid,devicetime,latitude,longitude,speed,date,time,geometry,bus_stop,trip_id,direction
0,574733098,116,2021-10-16 08:03:04,7.293092,80.635573,9.17927,2021-10-16,08:03:04,POINT (184746.41595346577 232322.75960448402),BT01,2.0,1
1,574733099,116,2021-10-16 08:03:19,7.293068,80.636430,14.03890,2021-10-16,08:03:19,POINT (184841.00784031872 232320.15459256113),NaN,2.0,1
2,574733100,116,2021-10-16 08:03:34,7.293043,80.637552,10.25920,2021-10-16,08:03:34,POINT (184964.84865244984 232317.35306792473),NaN,2.0,1
3,574733101,116,2021-10-16 08:03:49,7.292725,80.637707,7.55940,2021-10-16,08:03:49,POINT (184981.95255171193 232282.14959255166),NaN,2.0,1
4,574733102,116,2021-10-16 08:04:04,7.292292,80.637663,3.77970,2021-10-16,08:04:04,POINT (184977.15733984314 232234.22458233108),NaN,2.0,1

In [12]:
Mydata_forComp=Mydata[['trip_id', 'deviceid', 'date', 'time']]
# Convert 'start_time' and 'end_time' columns to datetime format ( start tieme and end time only have time in hh:mm:ss format)
Mydata_forComp['time'] = pd.to_datetime(Mydata['date'] + ' ' + Mydata['time'])
# convert 'date' column to datetime format
Mydata_forComp['date'] = pd.to_datetime(Mydata['date'], format='%Y-%m-%d').dt.date

C:\Users\gw\AppData\Local\Temp\ipykernel_98520\3053380414.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mydata_forComp['time'] = pd.to_datetime(Mydata['date'] + ' ' + Mydata['time'])
C:\Users\gw\AppData\Local\Temp\ipykernel_98520\3053380414.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mydata_forComp['date'] = pd.to_datetime(Mydata['date'], format='%Y-%m-%d').dt.date

In [13]:
# group Mydata by trip id and pick the middle value of every column , columns are ['trip_id', 'deviceid', 'date', 'time']

# Sort the data by 'trip_id' and 'time'
Mydata_forComp = Mydata_forComp.sort_values(by=['trip_id', 'time'])

# Calculate the number of rows in each 'trip_id' group
group_sizes = Mydata_forComp.groupby('trip_id').size().reset_index(name='group_size')

# Select the middle row from each 'trip_id' group
Mydata_forComp = Mydata_forComp.merge(group_sizes, on='trip_id')
Mydata_forComp['middle_row'] = Mydata_forComp['group_size'] // 2

# Select the middle values for each 'trip_id' group
Mydata_forComp = Mydata_forComp[Mydata_forComp.groupby('trip_id').cumcount() == Mydata_forComp['middle_row']]

# Cleanup: Drop the helper columns
Mydata_forComp.drop(columns=['group_size', 'middle_row'], inplace=True)

# Reset the index
Mydata_forComp.reset_index(drop=True, inplace=True)

# Resulting DataFrame with one middle time value for each 'trip_id' group
Mydata_forComp.head()

   trip_id  deviceid        date                time
0      1.0       116  2021-10-16 2021-10-16 07:30:35
1      2.0       116  2021-10-16 2021-10-16 08:28:27
2      3.0       116  2021-10-16 2021-10-16 11:17:34
3      4.0       116  2021-10-16 2021-10-16 12:50:07
4      5.0       116  2021-10-16 2021-10-16 14:40:02

In [14]:
AyyasData_forComp.head()

   trip_id  deviceid        date          start_time            end_time
0      1.0     262.0  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1      3.0     274.0  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2      4.0     123.0  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3      8.0     274.0  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4      9.0     262.0  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22

In [15]:
Mydata_forComp.head()

   trip_id  deviceid        date                time
0      1.0       116  2021-10-16 2021-10-16 07:30:35
1      2.0       116  2021-10-16 2021-10-16 08:28:27
2      3.0       116  2021-10-16 2021-10-16 11:17:34
3      4.0       116  2021-10-16 2021-10-16 12:50:07
4      5.0       116  2021-10-16 2021-10-16 14:40:02

In [16]:
# make AyyasData_forComp deviceid integer without the decimal point
AyyasData_forComp['deviceid'] = AyyasData_forComp['deviceid'].astype(int)

In [17]:
smaller_df, larger_df = AyyasData_forComp, Mydata_forComp

# Create a mapping dictionary based on common bus IDs, date, and time
mapping_dict = {}
for index, row in smaller_df.iterrows():
    matching_rows = larger_df[
        (larger_df['deviceid'] == row['deviceid']) &
        (larger_df['time'] >= row['start_time']) &
        (larger_df['time'] <= row['end_time'])
    ]
    if len(matching_rows) >= 1:
        mapping_dict[row['trip_id']] = matching_rows.iloc[0]['trip_id']

# Update trip IDs in the smaller data frame using the mapping dictionary
smaller_df['trip_id'] = smaller_df['trip_id'].map(mapping_dict)

# Now, the trip IDs in the smaller data frame have been updated to match the larger data frame
print(smaller_df)

       trip_id  deviceid        date          start_time            end_time
0       4890.0       262  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          NaN       274  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2       2369.0       123  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3       6543.0       274  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4       4891.0       262  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123      NaN      1358  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124      NaN      1377  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125      NaN       284  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126      NaN       513  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127      NaN       121  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [18]:
# Count the number of unique key-value pairs in mapping_dict
unique_pairs = len({(key, value) for key, value in mapping_dict.items()})

print("Number of unique key-value pairs in mapping_dict:", unique_pairs)

Number of unique key-value pairs in mapping_dict: 10422

In [19]:
mapping_dict

{1.0: 4890.0,
 4.0: 2369.0,
 8.0: 6543.0,
 9.0: 4891.0,
 10.0: 2370.0,
 14.0: 6544.0,
 15.0: 4892.0,
 16.0: 2371.0,
 20.0: 4893.0,
 21.0: 6545.0,
 22.0: 2372.0,
 27.0: 4894.0,
 30.0: 4895.0,
 35.0: 2374.0,
 38.0: 4896.0,
 39.0: 8002.0,
 44.0: 2375.0,
 45.0: 4897.0,
 46.0: 8003.0,
 51.0: 2376.0,
 52.0: 4898.0,
 53.0: 2377.0,
 55.0: 4899.0,
 58.0: 8005.0,
 61.0: 2378.0,
 62.0: 4900.0,
 63.0: 5912.0,
 64.0: 2379.0,
 66.0: 4901.0,
 67.0: 2380.0,
 72.0: 8008.0,
 76.0: 8009.0,
 78.0: 2381.0,
 81.0: 5915.0,
 82.0: 8010.0,
 84.0: 2382.0,
 88.0: 2383.0,
 91.0: 8012.0,
 93.0: 2384.0,
 95.0: 6548.0,
 97.0: 8013.0,
 98.0: 4902.0,
 99.0: 6549.0,
 101.0: 8014.0,
 105.0: 2385.0,
 107.0: 4903.0,
 108.0: 2386.0,
 109.0: 6550.0,
 111.0: 4904.0,
 115.0: 8016.0,
 118.0: 2387.0,
 120.0: 4905.0,
 123.0: 2388.0,
 126.0: 4906.0,
 131.0: 4907.0,
 135.0: 14372.0,
 141.0: 2389.0,
 143.0: 9135.0,
 144.0: 14373.0,
 147.0: 14374.0,
 153.0: 9137.0,
 155.0: 2391.0,
 158.0: 14376.0,
 160.0: 2392.0,
 163.0: 14377.0,
 164.0: 6559.0,
 166.0: 9139.0,
 167.0: 14378.0,
 169.0: 14379.0,
 171.0: 5917.0,
 174.0: 5918.0,
 175.0: 14381.0,
 177.0: 5919.0,
 180.0: 5920.0,
 181.0: 14383.0,
 183.0: 5921.0,
 186.0: 5922.0,
 188.0: 14385.0,
 190.0: 6560.0,
 191.0: 14386.0,
 193.0: 4908.0,
 194.0: 5923.0,
 195.0: 8020.0,
 198.0: 5924.0,
 199.0: 4909.0,
 201.0: 2393.0,
 203.0: 6562.0,
 204.0: 4910.0,
 206.0: 14388.0,
 207.0: 2394.0,
 209.0: 8022.0,
 210.0: 6563.0,
 212.0: 4911.0,
 213.0: 5926.0,
 215.0: 2395.0,
 217.0: 6564.0,
 218.0: 4912.0,
 219.0: 14390.0,
 221.0: 2396.0,
 223.0: 6565.0,
 225.0: 4913.0,
 228.0: 14391.0,
 229.0: 4914.0,
 230.0: 8026.0,
 231.0: 6567.0,
 232.0: 2397.0,
 234.0: 4915.0,
 235.0: 2398.0,
 236.0: 8027.0,
 238.0: 14393.0,
 239.0: 4916.0,
 241.0: 2399.0,
 242.0: 6569.0,
 244.0: 4917.0,
 245.0: 2400.0,
 246.0: 8029.0,
 247.0: 6570.0,
 249.0: 4918.0,
 250.0: 8030.0,
 252.0: 2401.0,
 253.0: 14396.0,
 254.0: 4919.0,
 256.0: 2402.0,
 258.0: 14397.0,
 259.0: 4920.0,
 260.0: 2403.0,
 261.0: 8032.0,
 262.0: 6573.0,
 263.0: 2404.0,
 264.0: 6574.0,
 266.0: 4921.0,
 268.0: 5927.0,
 269.0: 6575.0,
 272.0: 2405.0,
 273.0: 5928.0,
 276.0: 2406.0,
 277.0: 4922.0,
 279.0: 8034.0,
 282.0: 4923.0,
 283.0: 2407.0,
 284.0: 6577.0,
 288.0: 2408.0,
 289.0: 4924.0,
 294.0: 4925.0,
 295.0: 2409.0,
 300.0: 4926.0,
 301.0: 2410.0,
 304.0: 8038.0,
 305.0: 4927.0,
 306.0: 6581.0,
 307.0: 6582.0,
 310.0: 6583.0,
 313.0: 5929.0,
 314.0: 6584.0,
 318.0: 2411.0,
 319.0: 5931.0,
 323.0: 6586.0,
 325.0: 2412.0,
 328.0: 2413.0,
 329.0: 6587.0,
 332.0: 2414.0,
 334.0: 5933.0,
 335.0: 14398.0,
 338.0: 5934.0,
 343.0: 5935.0,
 344.0: 14400.0,
 348.0: 5936.0,
 350.0: 14401.0,
 354.0: 14402.0,
 363.0: 2416.0,
 367.0: 14405.0,
 368.0: 4928.0,
 370.0: 2417.0,
 373.0: 5940.0,
 377.0: 2418.0,
 380.0: 14406.0,
 381.0: 4929.0,
 382.0: 8046.0,
 383.0: 6589.0,
 385.0: 9142.0,
 386.0: 5941.0,
 387.0: 14407.0,
 388.0: 4930.0,
 391.0: 2419.0,
 392.0: 9143.0,
 396.0: 8047.0,
 398.0: 2420.0,
 401.0: 4931.0,
 402.0: 8048.0,
 407.0: 14409.0,
 408.0: 4932.0,
 411.0: 9145.0,
 412.0: 8049.0,
 414.0: 4933.0,
 416.0: 8050.0,
 417.0: 2422.0,
 418.0: 6592.0,
 419.0: 3464.0,
 420.0: 14410.0,
 422.0: 4934.0,
 424.0: 6593.0,
 425.0: 3465.0,
 429.0: 2423.0,
 430.0: 14411.0,
 431.0: 4935.0,
 434.0: 2424.0,
 435.0: 3466.0,
 436.0: 14412.0,
 437.0: 4936.0,
 439.0: 6595.0,
 440.0: 3467.0,
 441.0: 8053.0,
 443.0: 2425.0,
 445.0: 4937.0,
 446.0: 8054.0,
 447.0: 2426.0,
 448.0: 6596.0,
 449.0: 14414.0,
 450.0: 4938.0,
 451.0: 3468.0,
 455.0: 3469.0,
 458.0: 4939.0,
 459.0: 6598.0,
 461.0: 2428.0,
 462.0: 6599.0,
 465.0: 3470.0,
 467.0: 4940.0,
 470.0: 5944.0,
 471.0: 3471.0,
 473.0: 8057.0,
 475.0: 4941.0,
 476.0: 8058.0,
 479.0: 3472.0,
 481.0: 4942.0,
 483.0: 6603.0,
 484.0: 5946.0,
 485.0: 3473.0,
 489.0: 4943.0,
 490.0: 8060.0,
 491.0: 6604.0,
 493.0: 3474.0,
 496.0: 4944.0,
 498.0: 8061.0,
 499.0: 5948.0,
 500.0: 3475.0,
 502.0: 4945.0,
 505.0: 3476.0,
 506.0: 8062.0,
 507.0: 3477.0,
 510.0: 3478.0,
 513.0: 8063.0,
 514.0: 3479.0,
 516.0: 8064.0,
 517.0: 6610.0,
 518.0: 3480.0,
 523.0: 3481.0,
 527.0: 9582.0,
 529.0: 3482.0,
 532.0: 9583.0,
 533.0: 6613.0,
 534.0: 8067.0,
 535.0: 3483.0,
 539.0: 8068.0,
 541.0: 3484.0,
 543.0: 8069.0,
 545.0: 9585.0,
 546.0: 6615.0,
 547.0: 2432.0,
 548.0: 3485.0,
 550.0: 8070.0,
 551.0: 3486.0,
 554.0: 4946.0,
 555.0: 9587.0,
 556.0: 3487.0,
 557.0: 1.0,
 560.0: 2.0,
 562.0: 5949.0,
 564.0: 5950.0,
 565.0: 4947.0,
 567.0: 3488.0,
 570.0: 3.0,
 571.0: 4948.0,
 572.0: 9589.0,
 573.0: 3489.0,
 578.0: 4.0,
 579.0: 4949.0,
 583.0: 3490.0,
 585.0: 5.0,
 586.0: 4950.0,
 588.0: 3491.0,
 591.0: 2433.0,
 593.0: 6.0,
 594.0: 4951.0,
 595.0: 3492.0,
 597.0: 5954.0,
 598.0: 2435.0,
 599.0: 3493.0,
 600.0: 6616.0,
 601.0: 6617.0,
 602.0: 7.0,
 604.0: 5955.0,
 605.0: 2436.0,
 606.0: 8.0,
 608.0: 6618.0,
 610.0: 5956.0,
 611.0: 2437.0,
 612.0: 9.0,
 615.0: 2438.0,
 620.0: 10.0,
 622.0: 2439.0,
 623.0: 11.0,
 624.0: 8072.0,
 626.0: 6621.0,
 627.0: 12.0,
 628.0: 9592.0,
 629.0: 6622.0,
 631.0: 4952.0,
 632.0: 9593.0,
 635.0: 13.0,
 636.0: 2441.0,
 637.0: 3494.0,
 638.0: 14.0,
 639.0: 4953.0,
 643.0: 2442.0,
 644.0: 3495.0,
 645.0: 4954.0,
 646.0: 9595.0,
 647.0: 6625.0,
 648.0: 15.0,
 650.0: 2443.0,
 651.0: 3496.0,
 652.0: 16.0,
 653.0: 4955.0,
 657.0: 3497.0,
 658.0: 4956.0,
 659.0: 9597.0,
 661.0: 17.0,
 663.0: 3498.0,
 664.0: 4957.0,
 665.0: 18.0,
 666.0: 9598.0,
 669.0: 2444.0,
 670.0: 3499.0,
 671.0: 4958.0,
 674.0: 19.0,
 676.0: 3500.0,
 677.0: 4959.0,
 678.0: 20.0,
 679.0: 2446.0,
 680.0: 3501.0,
 681.0: 9600.0,
 682.0: 6630.0,
 684.0: 4960.0,
 686.0: 9601.0,
 687.0: 6631.0,
 690.0: 21.0,
 693.0: 8074.0,
 694.0: 5957.0,
 695.0: 22.0,
 696.0: 2447.0,
 697.0: 3502.0,
 699.0: 4961.0,
 704.0: 2448.0,
 705.0: 3503.0,
 706.0: 4962.0,
 707.0: 8075.0,
 708.0: 9603.0,
 709.0: 6633.0,
 710.0: 23.0,
 714.0: 8076.0,
 715.0: 2449.0,
 716.0: 24.0,
 717.0: 3504.0,
 718.0: 4963.0,
 719.0: 5960.0,
 722.0: 3505.0,
 723.0: 8077.0,
 724.0: 4964.0,
 727.0: 3506.0,
 728.0: 2450.0,
 729.0: 4965.0,
 731.0: 8078.0,
 734.0: 3507.0,
 737.0: 6634.0,
 738.0: 6635.0,
 739.0: 8079.0,
 740.0: 8080.0,
 741.0: 3508.0,
 743.0: 3509.0,
 744.0: 8081.0,
 745.0: 6637.0,
 746.0: 3510.0,
 747.0: 2453.0,
 748.0: 8082.0,
 750.0: 3511.0,
 751.0: 8083.0,
 752.0: 2454.0,
 753.0: 6639.0,
 754.0: 3512.0,
 755.0: 2455.0,
 758.0: 3513.0,
 760.0: 2456.0,
 761.0: 3514.0,
 762.0: 6641.0,
 763.0: 2457.0,
 764.0: 8086.0,
 765.0: 3515.0,
 766.0: 9604.0,
 768.0: 25.0,
 769.0: 4966.0,
 770.0: 9605.0,
 774.0: 26.0,
 775.0: 3516.0,
 778.0: 4967.0,
 779.0: 9606.0,
 780.0: 3517.0,
 783.0: 5963.0,
 784.0: 4968.0,
 785.0: 9607.0,
 787.0: 3518.0,
 789.0: 5964.0,
 790.0: 4969.0,
 792.0: 3519.0,
 793.0: 27.0,
 794.0: 4970.0,
 795.0: 9609.0,
 798.0: 3520.0,
 799.0: 28.0,
 802.0: 4971.0,
 804.0: 3521.0,
 805.0: 29.0,
 806.0: 4972.0,
 810.0: 3522.0,
 811.0: 30.0,
 814.0: 3523.0,
 815.0: 6642.0,
 817.0: 31.0,
 818.0: 4973.0,
 819.0: 6643.0,
 822.0: 5969.0,
 823.0: 32.0,
 824.0: 2460.0,
 829.0: 2461.0,
 830.0: 4974.0,
 835.0: 2462.0,
 836.0: 4975.0,
 837.0: 33.0,
 838.0: 6645.0,
 839.0: 8090.0,
 841.0: 5971.0,
 842.0: 34.0,
 845.0: 5972.0,
 847.0: 4976.0,
 851.0: 2463.0,
 853.0: 35.0,
 854.0: 4977.0,
 855.0: 6647.0,
 857.0: 5973.0,
 858.0: 8092.0,
 859.0: 36.0,
 862.0: 4978.0,
 864.0: 5974.0,
 865.0: 2465.0,
 868.0: 9612.0,
 869.0: 6648.0,
 870.0: 8093.0,
 871.0: 37.0,
 872.0: 4979.0,
 873.0: 9613.0,
 875.0: 8094.0,
 876.0: 38.0,
 877.0: 3524.0,
 880.0: 4980.0,
 881.0: 3525.0,
 886.0: 8095.0,
 887.0: 39.0,
 888.0: 4981.0,
 889.0: 9615.0,
 890.0: 6651.0,
 891.0: 8096.0,
 892.0: 3526.0,
 893.0: 40.0,
 896.0: 4982.0,
 897.0: 3527.0,
 903.0: 41.0,
 904.0: 4983.0,
 905.0: 9617.0,
 906.0: 6653.0,
 907.0: 8098.0,
 908.0: 42.0,
 909.0: 3528.0,
 912.0: 4984.0,
 913.0: 3529.0,
 914.0: 9618.0,
 915.0: 6654.0,
 918.0: 8099.0,
 919.0: 4985.0,
 920.0: 9619.0,
 922.0: 8100.0,
 923.0: 9620.0,
 924.0: 6656.0,
 925.0: 8101.0,
 926.0: 43.0,
 928.0: 9621.0,
 930.0: 8102.0,
 931.0: 44.0,
 933.0: 3530.0,
 937.0: 2470.0,
 938.0: 3531.0,
 940.0: 964.0,
 941.0: 9622.0,
 943.0: 8103.0,
 944.0: 2471.0,
 945.0: 45.0,
 947.0: 965.0,
 948.0: 9623.0,
 949.0: 6659.0,
 950.0: 8104.0,
 952.0: 46.0,
 953.0: 3532.0,
 956.0: 2472.0,
 957.0: 966.0,
 959.0: 9624.0,
 960.0: 8105.0,
 962.0: 47.0,
 964.0: 3533.0,
 967.0: 2473.0,
 968.0: 9625.0,
 969.0: 6661.0,
 970.0: 8106.0,
 972.0: 48.0,
 973.0: 9626.0,
 974.0: 6662.0,
 975.0: 8107.0,
 976.0: 9627.0,
 978.0: 6663.0,
 980.0: 8108.0,
 981.0: 3534.0,
 985.0: 9147.0,
 986.0: 3535.0,
 987.0: 2474.0,
 994.0: 2475.0,
 995.0: 9629.0,
 997.0: 3536.0,
 998.0: 6665.0,
 999.0: 8110.0,
 1002.0: 2476.0,
 1003.0: 9149.0,
 1004.0: 3537.0,
 1005.0: 9630.0,
 1009.0: 2477.0,
 1011.0: 9631.0,
 1014.0: 8112.0,
 1015.0: 3538.0,
 1019.0: 9151.0,
 1020.0: 3539.0,
 1021.0: 2478.0,
 1022.0: 9632.0,
 1028.0: 9152.0,
 1029.0: 9633.0,
 1031.0: 3540.0,
 1032.0: 8114.0,
 1034.0: 9153.0,
 1035.0: 3541.0,
 1036.0: 2479.0,
 1037.0: 9634.0,
 1038.0: 49.0,
 1040.0: 4986.0,
 1041.0: 9154.0,
 1042.0: 9635.0,
 1043.0: 50.0,
 1044.0: 3542.0,
 1047.0: 9155.0,
 1049.0: 3543.0,
 1051.0: 4987.0,
 1054.0: 51.0,
 1055.0: 9156.0,
 1057.0: 3544.0,
 1058.0: 4988.0,
 1060.0: 52.0,
 1064.0: 3545.0,
 1065.0: 4989.0,
 1068.0: 53.0,
 1069.0: 9158.0,
 1071.0: 4990.0,
 1072.0: 3546.0,
 1073.0: 9639.0,
 1074.0: 54.0,
 1078.0: 3547.0,
 1079.0: 4991.0,
 1081.0: 9640.0,
 1082.0: 55.0,
 1085.0: 4992.0,
 1086.0: 9641.0,
 1087.0: 3548.0,
 1088.0: 56.0,
 1089.0: 4993.0,
 1090.0: 9161.0,
 1092.0: 57.0,
 1093.0: 6670.0,
 1095.0: 4994.0,
 1096.0: 14416.0,
 1097.0: 58.0,
 1103.0: 8115.0,
 1105.0: 4995.0,
 1108.0: 59.0,
 1110.0: 8116.0,
 1112.0: 4996.0,
 1113.0: 14418.0,
 1115.0: 60.0,
 1121.0: 4997.0,
 1123.0: 14419.0,
 1124.0: 2482.0,
 1125.0: 61.0,
 1127.0: 8118.0,
 1129.0: 4998.0,
 1130.0: 14420.0,
 1131.0: 2483.0,
 1133.0: 62.0,
 1134.0: 6675.0,
 1136.0: 8119.0,
 1138.0: 4999.0,
 1141.0: 63.0,
 1144.0: 8120.0,
 1145.0: 64.0,
 1147.0: 2485.0,
 1148.0: 9642.0,
 1150.0: 967.0,
 1151.0: 3549.0,
 1152.0: 5000.0,
 1154.0: 14422.0,
 1155.0: 9643.0,
 1157.0: 3550.0,
 1159.0: 65.0,
 1162.0: 968.0,
 1163.0: 5001.0,
 1167.0: 66.0,
 1170.0: 3551.0,
 1171.0: 969.0,
 1172.0: 5002.0,
 1174.0: 14424.0,
 1175.0: 9645.0,
 1176.0: 9165.0,
 1178.0: 3552.0,
 1179.0: 67.0,
 1181.0: 2486.0,
 1183.0: 970.0,
 1184.0: 5003.0,
 1187.0: 68.0,
 1189.0: 2487.0,
 1192.0: 3553.0,
 1194.0: 971.0,
 1195.0: 5004.0,
 1196.0: 14426.0,
 1197.0: 9647.0,
 1199.0: 2488.0,
 1200.0: 9167.0,
 1202.0: 3554.0,
 1204.0: 69.0,
 1205.0: 972.0,
 1206.0: 5005.0,
 1207.0: 14427.0,
 1208.0: 2489.0,
 1209.0: 9648.0,
 1210.0: 8126.0,
 1212.0: 3555.0,
 1213.0: 70.0,
 1214.0: 5006.0,
 1215.0: 8127.0,
 1217.0: 9649.0,
 1219.0: 3556.0,
 1220.0: 9650.0,
 1221.0: 6678.0,
 1222.0: 3557.0,
 1224.0: 5007.0,
 1225.0: 9651.0,
 1226.0: 6679.0,
 1228.0: 3558.0,
 1232.0: 71.0,
 1233.0: 2490.0,
 1235.0: 5008.0,
 1239.0: 3559.0,
 1241.0: 72.0,
 1242.0: 2491.0,
 1245.0: 5009.0,
 1246.0: 9653.0,
 1248.0: 3560.0,
 1250.0: 73.0,
 1252.0: 2492.0,
 1254.0: 5010.0,
 1255.0: 9654.0,
 1256.0: 6682.0,
 1258.0: 3561.0,
 1259.0: 74.0,
 1260.0: 2493.0,
 1262.0: 5011.0,
 1264.0: 9655.0,
 1265.0: 6683.0,
 1266.0: 3562.0,
 1268.0: 75.0,
 1270.0: 2494.0,
 1272.0: 5012.0,
 1275.0: 2495.0,
 1276.0: 3563.0,
 1277.0: 8133.0,
 1278.0: 76.0,
 1279.0: 9657.0,
 1281.0: 3564.0,
 1282.0: 9658.0,
 1283.0: 6686.0,
 1284.0: 3565.0,
 1286.0: 9659.0,
 1287.0: 6687.0,
 1289.0: 3566.0,
 1290.0: 8134.0,
 1294.0: 8135.0,
 1295.0: 2496.0,
 1296.0: 9171.0,
 1298.0: 6688.0,
 1299.0: 2497.0,
 1303.0: 8136.0,
 1304.0: 2498.0,
 1307.0: 2499.0,
 1309.0: 9173.0,
 1311.0: 9663.0,
 1319.0: 8141.0,
 1321.0: 2501.0,
 1322.0: 9666.0,
 1324.0: 14429.0,
 1325.0: 9667.0,
 1327.0: 77.0,
 1328.0: 9178.0,
 1329.0: 78.0,
 1330.0: 2502.0,
 1331.0: 3567.0,
 1335.0: 9179.0,
 1338.0: 79.0,
 1339.0: 2503.0,
 1340.0: 3568.0,
 1342.0: 8143.0,
 1343.0: 2504.0,
 1344.0: 14431.0,
 1345.0: 3569.0,
 1346.0: 9669.0,
 1347.0: 6691.0,
 1350.0: 80.0,
 1353.0: 81.0,
 1354.0: 2505.0,
 1355.0: 3570.0,
 1356.0: 2506.0,
 1357.0: 3571.0,
 1360.0: 3572.0,
 1362.0: 2507.0,
 1363.0: 2508.0,
 1364.0: 3573.0,
 1366.0: 5013.0,
 1367.0: 3574.0,
 1371.0: 5014.0,
 1373.0: 9182.0,
 1376.0: 5015.0,
 1377.0: 3576.0,
 1379.0: 14433.0,
 1386.0: 9184.0,
 1388.0: 5017.0,
 1389.0: 3578.0,
 1392.0: 14435.0,
 1398.0: 9186.0,
 1399.0: 5019.0,
 1401.0: 3580.0,
 1402.0: 5020.0,
 1403.0: 6694.0,
 1404.0: 12681.0,
 1405.0: 5021.0,
 1406.0: 14438.0,
 1407.0: 6695.0,
 1409.0: 12682.0,
 1410.0: 86.0,
 1411.0: 9187.0,
 1412.0: 2512.0,
 1415.0: 87.0,
 1416.0: 9188.0,
 1417.0: 5022.0,
 1419.0: 2513.0,
 1421.0: 11364.0,
 1423.0: 5023.0,
 1424.0: 14440.0,
 1425.0: 6697.0,
 1426.0: 8146.0,
 1428.0: 88.0,
 1429.0: 9189.0,
 1432.0: 5024.0,
 1433.0: 89.0,
 1435.0: 9190.0,
 1436.0: 6698.0,
 1439.0: 5025.0,
 1440.0: 14442.0,
 1443.0: 90.0,
 1445.0: 9191.0,
 1446.0: 11367.0,
 1447.0: 8149.0,
 1448.0: 91.0,
 1449.0: 5026.0,
 1451.0: 14443.0,
 1452.0: 6700.0,
 1454.0: 12687.0,
 1455.0: 5027.0,
 1456.0: 6701.0,
 1458.0: 2515.0,
 1459.0: 12688.0,
 1460.0: 2516.0,
 1464.0: 973.0,
 1465.0: 5028.0,
 1466.0: 9673.0,
 1467.0: 6703.0,
 1468.0: 2518.0,
 1469.0: 12690.0,
 1470.0: 92.0,
 1472.0: 4264.0,
 1473.0: 2519.0,
 1474.0: 3581.0,
 1476.0: 93.0,
 1477.0: 974.0,
 1478.0: 5029.0,
 1480.0: 4265.0,
 1483.0: 12691.0,
 1484.0: 3582.0,
 1486.0: 975.0,
 1487.0: 9675.0,
 1488.0: 6705.0,
 1489.0: 2520.0,
 1491.0: 94.0,
 1492.0: 9195.0,
 1493.0: 4266.0,
 1494.0: 2521.0,
 1495.0: 3583.0,
 1496.0: 11371.0,
 1497.0: 95.0,
 1498.0: 976.0,
 1501.0: 4267.0,
 1503.0: 12693.0,
 1504.0: 3584.0,
 1505.0: 977.0,
 1506.0: 9677.0,
 1508.0: 2522.0,
 1509.0: 96.0,
 1510.0: 11372.0,
 1513.0: 4268.0,
 1514.0: 3585.0,
 1515.0: 2523.0,
 1516.0: 978.0,
 1517.0: 97.0,
 1518.0: 9678.0,
 1520.0: 9198.0,
 1521.0: 4269.0,
 1522.0: 12695.0,
 1524.0: 3586.0,
 1525.0: 9679.0,
 1526.0: 6709.0,
 1529.0: 2525.0,
 1530.0: 9680.0,
 1533.0: 979.0,
 1534.0: 13671.0,
 1535.0: 9681.0,
 1536.0: 6711.0,
 1537.0: 98.0,
 1541.0: 4270.0,
 1542.0: 2526.0,
 1543.0: 99.0,
 1544.0: 12697.0,
 1546.0: 5976.0,
 1547.0: 4271.0,
 1548.0: 980.0,
 1550.0: 2527.0,
 1551.0: 6712.0,
 1554.0: 11376.0,
 1555.0: 100.0,
 1557.0: 6713.0,
 1559.0: 4272.0,
 1560.0: 13674.0,
 1563.0: 101.0,
 1564.0: 5978.0,
 1565.0: 4273.0,
 1568.0: 12700.0,
 1569.0: 11378.0,
 1570.0: 102.0,
 1571.0: 9685.0,
 1573.0: 4274.0,
 1574.0: 13676.0,
 1575.0: 103.0,
 1577.0: 11379.0,
 1578.0: 5980.0,
 1579.0: 4275.0,
 1580.0: 9686.0,
 1581.0: 12702.0,
 1584.0: 9687.0,
 1585.0: 4276.0,
 1586.0: 11381.0,
 1588.0: 4277.0,
 1590.0: 2530.0,
 1591.0: 9688.0,
 1594.0: 14445.0,
 1596.0: 6715.0,
 1597.0: 10770.0,
 1598.0: 13679.0,
 1599.0: 9199.0,
 1600.0: 4278.0,
 1602.0: 13680.0,
 1605.0: 9200.0,
 1606.0: 4279.0,
 1607.0: 5982.0,
 1610.0: 11384.0,
 1611.0: 14447.0,
 1612.0: 9691.0,
 1613.0: 6717.0,
 1616.0: 4280.0,
 1621.0: 9202.0,
 1622.0: 4281.0,
 1624.0: 5984.0,
 1625.0: 6718.0,
 1626.0: 14449.0,
 1627.0: 9693.0,
 1631.0: 4282.0,
 1634.0: 14450.0,
 1636.0: 9204.0,
 1637.0: 4283.0,
 1638.0: 5986.0,
 1639.0: 9694.0,
 1640.0: 6720.0,
 1642.0: 13685.0,
 1643.0: 14451.0,
 1644.0: 9695.0,
 1645.0: 2533.0,
 1646.0: 6721.0,
 1647.0: 13686.0,
 1648.0: 2534.0,
 1650.0: 9696.0,
 1652.0: 9205.0,
 1653.0: 14453.0,
 1654.0: 4284.0,
 1655.0: 9697.0,
 1656.0: 13688.0,
 1657.0: 9206.0,
 1659.0: 4285.0,
 1663.0: 13689.0,
 1665.0: 4286.0,
 1666.0: 14455.0,
 1667.0: 9699.0,
 1668.0: 13690.0,
 1669.0: 9208.0,
 1671.0: 4287.0,
 1674.0: 12706.0,
 1675.0: 13691.0,
 1677.0: 4288.0,
 1679.0: 9701.0,
 1680.0: 13692.0,
 1681.0: 12707.0,
 1682.0: 9210.0,
 1683.0: 4289.0,
 1686.0: 12708.0,
 1688.0: 14459.0,
 1689.0: 9211.0,
 1690.0: 4290.0,
 1691.0: 9703.0,
 1694.0: 4291.0,
 1696.0: 14461.0,
 1697.0: 2537.0,
 1698.0: 104.0,
 1699.0: 8150.0,
 1701.0: 5030.0,
 1702.0: 6723.0,
 1703.0: 2538.0,
 1704.0: 105.0,
 1705.0: 8151.0,
 1707.0: 12709.0,
 1708.0: 11389.0,
 1709.0: 2539.0,
 1711.0: 12710.0,
 1714.0: 106.0,
 1716.0: 2540.0,
 1717.0: 6725.0,
 1718.0: 107.0,
 1720.0: 5990.0,
 1721.0: 11391.0,
 1722.0: 2541.0,
 1723.0: 12712.0,
 1725.0: 6726.0,
 1727.0: 2542.0,
 1728.0: 12713.0,
 1731.0: 5992.0,
 1732.0: 2543.0,
 1734.0: 11394.0,
 1736.0: 5993.0,
 1737.0: 2544.0,
 1738.0: 6729.0,
 1739.0: 5994.0,
 1740.0: 2545.0,
 1742.0: 9704.0,
 1743.0: 6730.0,
 1745.0: 981.0,
 1747.0: 108.0,
 ...}

In [20]:
smaller_df

       trip_id  deviceid        date          start_time            end_time
0       4890.0       262  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
1          NaN       274  2021-10-01 2021-10-01 06:58:03 2021-10-01 07:51:21
2       2369.0       123  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3       6543.0       274  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4       4891.0       262  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
...        ...       ...         ...                 ...                 ...
14123      NaN      1358  2022-11-01 2022-11-01 17:00:34 2022-11-01 17:46:45
14124      NaN      1377  2022-11-01 2022-11-01 17:40:45 2022-11-01 18:33:10
14125      NaN       284  2022-11-01 2022-11-01 17:51:04 2022-11-01 18:35:06
14126      NaN       513  2022-11-01 2022-11-01 18:08:04 2022-11-01 18:52:05
14127      NaN       121  2022-11-01 2022-11-01 18:20:26 2022-11-01 19:02:30

[14128 rows x 5 columns]

In [21]:
# drop null rows Mydata
smaller_df.dropna(inplace=True)

In [22]:
smaller_df

       trip_id  deviceid        date          start_time            end_time
0       4890.0       262  2021-10-01 2021-10-01 06:39:49 2021-10-01 07:27:32
2       2369.0       123  2021-10-01 2021-10-01 07:37:40 2021-10-01 08:15:44
3       6543.0       274  2021-10-01 2021-10-01 08:40:27 2021-10-01 09:34:49
4       4891.0       262  2021-10-01 2021-10-01 08:40:37 2021-10-01 09:33:22
5       2370.0       123  2021-10-01 2021-10-01 09:11:33 2021-10-01 09:48:30
...        ...       ...         ...                 ...                 ...
14059   3461.0       123  2022-10-31 2022-10-31 17:09:47 2022-10-31 17:57:33
14060   4889.0       250  2022-10-31 2022-10-31 17:40:40 2022-10-31 18:34:39
14061   5908.0       262  2022-10-31 2022-10-31 17:50:44 2022-10-31 18:37:03
14062  11208.0       513  2022-10-31 2022-10-31 18:09:39 2022-10-31 18:52:36
14063   3462.0       123  2022-10-31 2022-10-31 18:23:15 2022-10-31 19:00:13

[10422 rows x 5 columns]

In [23]:
# get the number of nan values in each column
AyyasData.isnull().sum()

trip_id                   0
deviceid                  0
direction                 0
segment                   0
date                   2385
start_time             2385
end_time               2385
run_time               2385
run_time_in_seconds    2385
length                    0
day_of_week               0
time_of_day            2385
Sunday/holiday         2385
saturday                  0
weekday/end               0
week_no                   0
rt(w-1)                2385
rt(w-2)                2385
rt(w-3)                2385
rt(t-1)                2385
rt(t-2)                2385
rt(n-1)                1529
rt(n-2)                 771
rt(n-3)                 809
hour_of_day            2385
day                       0
month                     0
temp                   2385
precip                 2385
windspeed              2385
conditions             2385
dt(n-1)                   0
dtype: int64

In [24]:
AyyasData

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
0,1.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,0.6261,4.0,6.50,0.0,0,1,1.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
1,1.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,1.2808,4.0,6.50,0.0,0,1,1.0,247.0,247.0,247.0,247.0,247.0,69.0,247.0,247.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,74.0
2,1.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,2.1125,4.0,6.75,0.0,0,1,1.0,506.0,506.0,506.0,506.0,506.0,210.0,69.0,506.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
3,1.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,1.5513,4.0,6.75,0.0,0,1,1.0,192.0,192.0,192.0,192.0,192.0,496.0,210.0,69.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,6.0
4,1.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,0.8450,4.0,6.75,0.0,0,1,1.0,114.0,114.0,114.0,114.0,114.0,195.0,496.0,210.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203123,25367.0,1377.0,2.0,30.0,2022-11-01,18:17:36,18:24:21,0:06:45,405.0,2.5600,1.0,18.25,0.0,0,1,42.0,422.0,364.0,422.0,422.0,422.0,195.0,150.0,105.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203124,25367.0,1377.0,2.0,31.0,2022-11-01,18:24:21,18:25:36,0:01:15,75.0,0.4200,1.0,18.25,0.0,0,1,42.0,60.0,45.0,60.0,83.0,60.0,405.0,195.0,150.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203125,25367.0,1377.0,2.0,32.0,2022-11-01,18:25:49,18:28:10,0:02:21,141.0,1.3000,1.0,18.25,0.0,0,1,42.0,198.0,186.0,198.0,182.0,234.0,75.0,405.0,195.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,13.0
203126,25367.0,1377.0,2.0,33.0,2022-11-01,18:28:10,18:31:25,0:03:15,195.0,1.2200,1.0,18.25,0.0,0,1,42.0,174.0,170.0,174.0,202.0,210.0,141.0,75.0,405.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203127,25367.0,1377.0,2.0,34.0,2022-11-01,18:31:25,18:33:10,0:01:45,105.0,0.6600,1.0,18.50,0.0,0,1,42.0,88.0,88.0,88.0,88.0,88.0,195.0,141.0,75.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0

In [25]:
AyyasData['trip_id'] = AyyasData['trip_id'].map(mapping_dict)

In [26]:
AyyasData

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
0,4890.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,0.6261,4.0,6.50,0.0,0,1,1.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
1,4890.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,1.2808,4.0,6.50,0.0,0,1,1.0,247.0,247.0,247.0,247.0,247.0,69.0,247.0,247.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,74.0
2,4890.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,2.1125,4.0,6.75,0.0,0,1,1.0,506.0,506.0,506.0,506.0,506.0,210.0,69.0,506.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
3,4890.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,1.5513,4.0,6.75,0.0,0,1,1.0,192.0,192.0,192.0,192.0,192.0,496.0,210.0,69.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,6.0
4,4890.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,0.8450,4.0,6.75,0.0,0,1,1.0,114.0,114.0,114.0,114.0,114.0,195.0,496.0,210.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203123,NaN,1377.0,2.0,30.0,2022-11-01,18:17:36,18:24:21,0:06:45,405.0,2.5600,1.0,18.25,0.0,0,1,42.0,422.0,364.0,422.0,422.0,422.0,195.0,150.0,105.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203124,NaN,1377.0,2.0,31.0,2022-11-01,18:24:21,18:25:36,0:01:15,75.0,0.4200,1.0,18.25,0.0,0,1,42.0,60.0,45.0,60.0,83.0,60.0,405.0,195.0,150.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203125,NaN,1377.0,2.0,32.0,2022-11-01,18:25:49,18:28:10,0:02:21,141.0,1.3000,1.0,18.25,0.0,0,1,42.0,198.0,186.0,198.0,182.0,234.0,75.0,405.0,195.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,13.0
203126,NaN,1377.0,2.0,33.0,2022-11-01,18:28:10,18:31:25,0:03:15,195.0,1.2200,1.0,18.25,0.0,0,1,42.0,174.0,170.0,174.0,202.0,210.0,141.0,75.0,405.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0
203127,NaN,1377.0,2.0,34.0,2022-11-01,18:31:25,18:33:10,0:01:45,105.0,0.6600,1.0,18.50,0.0,0,1,42.0,88.0,88.0,88.0,88.0,88.0,195.0,141.0,75.0,18.0,1.0,11.0,20.5,0.0,8.3,Overcast,0.0

In [27]:
# get the number of nan values in each column
AyyasData.isnull().sum()

trip_id                52358
deviceid                   0
direction                  0
segment                    0
date                    2385
start_time              2385
end_time                2385
run_time                2385
run_time_in_seconds     2385
length                     0
day_of_week                0
time_of_day             2385
Sunday/holiday          2385
saturday                   0
weekday/end                0
week_no                    0
rt(w-1)                 2385
rt(w-2)                 2385
rt(w-3)                 2385
rt(t-1)                 2385
rt(t-2)                 2385
rt(n-1)                 1529
rt(n-2)                  771
rt(n-3)                  809
hour_of_day             2385
day                        0
month                      0
temp                    2385
precip                  2385
windspeed               2385
conditions              2385
dt(n-1)                    0
dtype: int64

In [28]:
# drop raws where only trip_id is null
AyyasData.dropna(subset=['trip_id'], inplace=True)

In [29]:
AyyasData

,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,length,day_of_week,time_of_day,Sunday/holiday,saturday,weekday/end,week_no,rt(w-1),rt(w-2),rt(w-3),rt(t-1),rt(t-2),rt(n-1),rt(n-2),rt(n-3),hour_of_day,day,month,temp,precip,windspeed,conditions,dt(n-1)
0,4890.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,0.6261,4.0,6.50,0.0,0,1,1.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,96.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
1,4890.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,1.2808,4.0,6.50,0.0,0,1,1.0,247.0,247.0,247.0,247.0,247.0,69.0,247.0,247.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,74.0
2,4890.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,2.1125,4.0,6.75,0.0,0,1,1.0,506.0,506.0,506.0,506.0,506.0,210.0,69.0,506.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
3,4890.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,1.5513,4.0,6.75,0.0,0,1,1.0,192.0,192.0,192.0,192.0,192.0,496.0,210.0,69.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,6.0
4,4890.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,0.8450,4.0,6.75,0.0,0,1,1.0,114.0,114.0,114.0,114.0,114.0,195.0,496.0,210.0,6.0,1.0,10.0,20.0,0.0,6.1,Partially cloudy,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202698,3462.0,123.0,2.0,28.0,2022-10-31,18:45:44,18:47:23,0:01:39,99.0,0.8700,0.0,18.75,0.0,0,1,42.0,120.0,120.0,120.0,120.0,120.0,63.0,156.0,197.0,18.0,31.0,10.0,22.2,0.0,4.3,Partially cloudy,9.0
202699,3462.0,123.0,2.0,29.0,2022-10-31,18:47:38,18:50:23,0:02:45,165.0,1.4000,0.0,18.75,0.0,0,1,42.0,218.0,218.0,218.0,218.0,218.0,99.0,63.0,156.0,18.0,31.0,10.0,22.2,0.0,4.3,Partially cloudy,15.0
202700,3462.0,123.0,2.0,30.0,2022-10-31,18:50:56,18:56:33,0:05:37,337.0,2.5600,0.0,18.75,0.0,0,1,42.0,391.0,391.0,391.0,391.0,391.0,165.0,99.0,63.0,18.0,31.0,10.0,22.2,0.0,4.3,Partially cloudy,33.0
202701,3462.0,123.0,2.0,31.0,2022-10-31,18:56:48,18:57:34,0:00:46,46.0,0.4200,0.0,18.75,0.0,0,1,42.0,65.0,65.0,65.0,65.0,65.0,337.0,165.0,99.0,18.0,31.0,10.0,22.2,0.0,4.3,Partially cloudy,15.0
202702,3462.0,123.0,2.0,32.0,2022-10-31,18:57:49,19:00:13,0:02:24,144.0,1.3000,0.0,18.75,0.0,0,1,42.0,172.0,172.0,172.0,172.0,172.0,46.0,337.0,165.0,18.0,31.0,10.0,22.2,0.0,4.3,Partially cloudy,15.0

In [30]:
# print number of unique trip_id in Mydata
print(Mydata['trip_id'].nunique())

15891

In [31]:
# get a list of values in mapping_dict dictionary
available_trip_ids=list(mapping_dict.values())

In [32]:
available_trip_ids=list(set(available_trip_ids))

In [33]:
len(available_trip_ids)

10359

In [34]:
# drop the rows in Mydata where trip_id is not in available_trip_ids
Mydata=Mydata[Mydata['trip_id'].isin(available_trip_ids)]

In [35]:
Mydata

,id,deviceid,devicetime,latitude,longitude,speed,date,time,geometry,bus_stop,trip_id,direction
0,574733098,116,2021-10-16 08:03:04,7.293092,80.635573,9.17927,2021-10-16,08:03:04,POINT (184746.41595346577 232322.75960448402),BT01,2.0,1
1,574733099,116,2021-10-16 08:03:19,7.293068,80.636430,14.03890,2021-10-16,08:03:19,POINT (184841.00784031872 232320.15459256113),NaN,2.0,1
2,574733100,116,2021-10-16 08:03:34,7.293043,80.637552,10.25920,2021-10-16,08:03:34,POINT (184964.84865244984 232317.35306792473),NaN,2.0,1
3,574733101,116,2021-10-16 08:03:49,7.292725,80.637707,7.55940,2021-10-16,08:03:49,POINT (184981.95255171193 232282.14959255166),NaN,2.0,1
4,574733102,116,2021-10-16 08:04:04,7.292292,80.637663,3.77970,2021-10-16,08:04:04,POINT (184977.15733984314 232234.22458233108),NaN,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1298712,895005999,1410,2022-02-24 14:51:43,7.291685,80.635282,3.23974,2022-02-24,14:51:43,POINT (184714.16084255013 232167.22405422156),BT01,15560.0,2
1298713,895682420,1410,2022-02-24 17:50:08,7.299123,80.734463,2.69978,2022-02-24,17:50:08,POINT (195665.40886624547 232987.66098395272),BT02,15562.0,2
1298714,895866047,1410,2022-02-24 18:46:53,7.291740,80.635173,10.25920,2022-02-24,18:46:53,POINT (184702.20468358186 232173.30970404382),BT01,15562.0,2
1298725,902155697,1410,2022-02-26 15:10:01,7.299070,80.734537,0.00000,2022-02-26,15:10:01,POINT (195673.50168209182 232981.76628487784),BT02,15574.0,2
1298726,902351019,1410,2022-02-26 16:00:47,7.291827,80.634998,0.00000,2022-02-26,16:00:47,POINT (184682.8848737382 232182.89199195197),BT01,15574.0,2

In [36]:
# save my data to csv file bus_trip_all_points_moddedDF.csv
Mydata.to_csv('../DataOut/bus_trip_all_points_moddedDF.csv', index=False)

# save AyyasData to csv file bus_running_times_feature_added_all_moddedDF.csv
AyyasData.to_csv('../DataOut/bus_running_times_feature_added_all_moddedDF.csv', index=False)